[submodule "DiligentCore"]
	path = DiligentCore
	url = git@github.com:MDNobu/DiligentCore.git
[submodule "DiligentTools"]
	path = DiligentTools
	url = git@github.com:MDNobu/DiligentTools.git
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = git@github.com:MDNobu/DiligentSamples.git
[submodule "DiligentFX"]
	path = DiligentFX
	url = git@github.com:MDNobu/DiligentFX.git
